{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "^react$",
    "^next$",
    "<THIRD_PARTY_MODULES>",
    "^@mantine/(.*)$",
    "^@tanstack/(.*)$",
    "^[@/]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
